/* Error: expected "}".
 *     ,
 * 151 | }
 *     |  ^
 *     '
 *   scss\sites\es_import\pages\data_viewer\layout\mapping\analyzer_card\content\builder\_tokenizer.scss 151:2   @use
 *   scss\sites\es_import\pages\data_viewer\layout\mapping\analyzer_card\content\builder\_init_builder.scss 2:1  @use
 *   scss\sites\es_import\pages\data_viewer\layout\mapping\analyzer_card\content\_init_content.scss 2:1          @use
 *   scss\sites\es_import\pages\data_viewer\layout\mapping\analyzer_card\_init_analyzer_card.scss 4:1            @use
 *   scss\sites\es_import\pages\data_viewer\layout\mapping\_init_mapping.scss 5:1                                @use
 *   scss\sites\es_import\pages\data_viewer\_data_viewer.scss 6:1                                                @use
 *   scss\sites\es_import\es_import.scss 5:1                                                                     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "}".\a     \2577 \a 151 \2502  }\a     \2502   ^\a     \2575 \a   scss\\sites\\es_import\\pages\\data_viewer\\layout\\mapping\\analyzer_card\\content\\builder\\_tokenizer.scss 151:2   @use\a   scss\\sites\\es_import\\pages\\data_viewer\\layout\\mapping\\analyzer_card\\content\\builder\\_init_builder.scss 2:1  @use\a   scss\\sites\\es_import\\pages\\data_viewer\\layout\\mapping\\analyzer_card\\content\\_init_content.scss 2:1          @use\a   scss\\sites\\es_import\\pages\\data_viewer\\layout\\mapping\\analyzer_card\\_init_analyzer_card.scss 4:1            @use\a   scss\\sites\\es_import\\pages\\data_viewer\\layout\\mapping\\_init_mapping.scss 5:1                                @use\a   scss\\sites\\es_import\\pages\\data_viewer\\_data_viewer.scss 6:1                                                @use\a   scss\\sites\\es_import\\es_import.scss 5:1                                                                     root stylesheet';
}
