/* Error: Undefined variable.
 *    ,
 * 49 |                 box-shadow: $default-card-shadow;
 *    |                             ^^^^^^^^^^^^^^^^^^^^
 *    '
 *   scss\sites\es_import\pages\_upload.scss 49:29  @use
 *   scss\sites\es_import\es_import.scss 11:1       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 49 \2502                  box-shadow: $default-card-shadow;\d\a    \2502                              ^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   scss\\sites\\es_import\\pages\\_upload.scss 49:29  @use\a   scss\\sites\\es_import\\es_import.scss 11:1       root stylesheet";
}
