@use './variables' as *;
@use '../../../../../../../abstracts/colors' as *;

// === Carte principale === //
.analyzer-card {
  width: 1140px;
  max-width: 95vw;
  min-height: 650px;
    // La hauteur maximale est calculée pour tenir sous le header et dans l'overlay
  // 4rem = 2rem de padding en haut + 2rem en bas dans l'overlay
  max-height: calc(100vh - var(--header-height, 60px) - 4rem);
  background: white;
  border-radius: $border-radius;
  box-shadow: $shadow;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  animation: fadeIn .30s cubic-bezier(.23,1.04,.73,.91);
  border: 1.5px solid $gray-200;
  position: relative;
}