@use '../../../../../../abstracts/colors' as *;
@use '../../../../../../abstracts/functions' as *;

.field-preview, .wrapper-fields {
    .row{
        div{
            text-align: center;
            align-items: center;
            .glyphicon{
                opacity: 0.5;
                transition: 0.25s;
                font-size: 1.2rem;
                &:hover{
                    opacity: 1;
                    transition: 0.25s;
                        cursor: pointer;
                }
                
                &.glyphicon-modify{
                    &:hover{
                    color: color(default-green, base);
                    }
                }
                &.glyphicon-plus{
                    &:hover{
                        color: color(blue-primary, base);
                    }
                }
                &.glyphicon-remove{
                    &:hover{
                    color: color(default-red, base);
                    }
                }
            }
        }
    }
}

.field-preview{
    .row{
        div{
            .glyphicon{
                &.glyphicon-modify-accept{
                    display: none;
                }
                &.glyphicon-modify-revert{
                    display: none;
                }
                 &.glyphicon-remove{
                    visibility: visible;
                 }
            }
        }
    }
}
.field-preview.modify{
    .row{
        div{
            .glyphicon{
                &.glyphicon-modify{
                    display: none;
                }
                 &.glyphicon-modify-accept{
                    display: inline-block;
                }
                &.glyphicon-modify-revert{
                    display: inline-block;
                }
                &.glyphicon-plus{
                    display: none;
                }
                &.glyphicon-remove{
                    visibility: hidden;
                }
            }
        }
    }
}