@use './../../../../../../../../../abstracts/colors' as *;
@use './../../../../../../../../../abstracts/functions' as *;
@use './../../variables' as *;

// === Token Filter Section ===
section{
    .token-filters-list { 
        display: flex;
        flex-direction: column;
        margin-top: 0.25rem;
        gap: 0.25rem; }

    .draggable {
        display: flex; 
        align-items: baseline; 
        gap: 1rem;
        min-width: 380px;
        transition: background 0.15s, opacity 0.15s;
        &.dragging {
            opacity: 0.5;
            background: #e0e7ff;
        }
        .toggle-button{
            min-width: 260px;
            .normal-label{
                .filter-desc {
                    $desc-bck-color: color(blue-primary, base);
                    position: absolute;
                    display: block;
                    left: 50%;
                    top: -2.2rem;
                    transform: translateX(-50%);
                    min-width: 200px;
                    background: rgba($desc-bck-color, 0.45);
                    backdrop-filter: blur(8px); // flou sous l’élément
                    -webkit-backdrop-filter: blur(8px); // pour Safari
                    box-shadow: 7px 7px 12px 0 rgba(10, 18, 26, 0.25);
                    color: white;
                    font-size: 0.75rem;
                    padding: 0.5rem;
                    border-radius: 1rem;
                    z-index: 22;
                    pointer-events: none;
                    white-space: pre-line;
                    opacity: 0;
                    transition: opacity 0.15s;
                    text-align: center;
                }
                &:hover .filter-desc,
                &:focus .filter-desc {
                    opacity: 1;
                    pointer-events: auto;
                }
            }
        }
        cursor: grab; user-select: none; transition: background 0.12s;
        &:active { cursor: grabbing; }
        .drag-handle { 
            font-size: 1.12em; 
            color: $gray-400; 
            margin-right: 0.19rem; 
            &:hover { color: $gray-700; } }
        input[type="checkbox"] { margin-right: 0.1rem; }
        .font-semibold { font-weight: 600; }
        .filter-params {
            display: inline-flex; 
            gap: 0.4rem; 
            margin-left: 0.4rem;
            input {
                min-width: 90px; 
                font-size: 0.98em; 
                padding: .16rem .44rem;
                border: $border-style-default; 
                border-radius: 0.48rem; 
                background: $gray-50;
                &:focus { 
                    border-color: $primary; 
                    background: white; 
                }
            }
        }
        &.disabled .filter-desc,
        &.disabled label { 
            opacity: 0.45; 
            cursor: not-allowed;
            pointer-events: none;
        }
    }
}