@use '../../../abstracts/colors' as *;
@use '../../../abstracts/variables' as *;
@use '../../../abstracts/functions' as *;

//fonction pour appeler les styles predefinis
@mixin apply-style($style-map) {
    @each $prop, $val in $style-map {
        #{$prop}: #{$val};
    }
}

$header-preview-style: (
  background-color: color(blue-primary, medium),
  box-shadow: $default-card-shadow,
  color: white,
  font-weight: bold,
  text-align: center,
  font-size: 1.25rem
);

$cells-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25);
$cells-border:  1px solid rgb(211, 218, 230);
$cells-border-dash: 2px dotted rgba(204, 0, 0, 0.2) !important;