@use "sass:color";
@use './../../../../../../../../../abstracts/colors' as *;
@use './../../variables' as *;

// === Preview colonne droite ===
.analyzer-card-preview {
    flex: 1 1 45%; 
    background: $gray-50;
    border-left: $border-style-default;
    display: flex; flex-direction: column; overflow-y: auto; overflow-x: hidden;
    padding: 1.5rem;
    gap: 2rem;

    // Scrollbar
    &::-webkit-scrollbar { width: 6px; }
    &::-webkit-scrollbar-track { background: rgba($gray-200, 0.5); border-radius: 3px; }
    &::-webkit-scrollbar-thumb { background: $gray-400; border-radius: 3px; 
        &:hover { background: $gray-600; } 
    }
}
