@use "sass:color";
@use './../../variables' as *;

// === Presets section ===
.preset-section{
    .preset-select {
        padding: 0.21rem 0.61rem;
        min-width: 143px; 
        font-size: .97em; 
        border: $border-style-default;
        border-radius: 0.46rem; 
    }
    .preset-actions{
        padding: 1rem 1.5rem;
        flex-shrink: 0;
        border-top: 1px solid #f0f1f4;
        background-color: transparent;
        z-index: 1;
        display: flex;
        gap: 0.78rem;
        justify-content:center;
        transition: background-color 0.2s;
        &:hover{
            background-color: rgba(255,255,255,0.1);
        }
    }
    
}
