@use "sass:color";
@use './../../variables' as *;

// === Presets section ===
.preset-select {
    padding: 0.21rem 0.61rem;
    min-width: 143px; 
    font-size: .97em; 
    border: $border-style-default;
    border-radius: 0.46rem; 
}
.preset-save, .preset-delete {
    padding: .21rem .91rem;
    margin-left: 0.09rem;
    font-weight: 500; 
    border-radius: .5rem; 
    border: none;
    font-size: 0.97em; 
    transition: background .13s; 
    cursor: pointer; 

}
.preset-save { 
    background: $secondary; 
    color: white; 
    &:hover { background: color.adjust($secondary, $lightness: -8%); } 
}
.preset-delete { 
    background: $danger; 
    color: white; 
    &:hover { background: color.adjust($danger, $lightness: -8%); } 
}

