@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;

.navbar {
  width: 100vw;
  max-width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $bs-body-bg;
  padding: 0;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  color: $bs-body-color;

  a {
    text-decoration: none;
    color: $bs-body-color;

    &:hover {
      color: color(blue-primary, medium);
    }
  }

  .logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: $bs-body-color;
    text-decoration: none;
    padding: 0.5rem;
  }
}