@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.navbar {
  width: 100vw;
  max-width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $bs-body-bg;
  padding: 0;
  box-shadow: $navbar-shadow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  color: $bs-body-color;

  a {
    text-decoration: none;
    color: $bs-body-color;

    &:hover {
      color: color(blue-primary, medium);
    }
  }

  .logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: $bs-body-color;
    text-decoration: none;
    padding: 0.5rem;
  }

  .menu-toggle {
    display: none;
    font-size: 1.75rem;
    cursor: pointer;
    background: none;
    border: none;
    color: inherit;
  }

  @include respond-max(md) {
    .menu-toggle {
      display: block;
    }
  }
}