@use '../abstracts/variables' as *;

.btn-group{
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    
    .btn {
        border-radius: 0; // pas d’arrondi par défaut
    
        &:first-child {
          border-top-left-radius: $bs-border-radius;
          border-bottom-left-radius: $bs-border-radius;
        }
    
        &:last-child {
          border-top-right-radius: $bs-border-radius;
          border-bottom-right-radius: $bs-border-radius;
        }
      }
}