@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/functions" as *;

.btn{
    display: flex;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: $bs-border-radius;
    transition: background-color, box-shadow 0.3s ease, color 0.3s ease;
    cursor: pointer;
    &:hover {
        text-decoration: none;
        box-shadow: $default-card-shadow;
    }
    
    &.btn-update {
        background: color(default-green, base);
        color: white;
        &:hover {
            background: color(default-green, light);
        }
      }
    
      &.btn-delete {
        background: color(default-red , base);
        color: white;
        &:hover {
            background: color(default-red, light);
        }
      }
      &.btn-submit {
        display: inline-block;
        width: 100%;
        background: color(blue-primary, base);
        color: white;
        &:hover {
            background: color(blue-primary, dark)
        }
      }
    

}