@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/functions" as *;

.btn{
    display: flex;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: $bs-border-radius;
    transition: background-color, box-shadow 0.3s ease, color 0.3s ease;
    cursor: pointer;
    &:hover {
        text-decoration: none;
        box-shadow: $default-card-shadow;
    }

    &.btn-primary {
      background-color: color(blue-primary, base);
        color: white;
        &:hover {
          background-color: color(blue-primary, dark);
            color: white;
        }
        &.active{
          background-color: color(blue-primary, medium );
        }
      }
    
      &.btn-secondary {
        background-color: color(light-gray, light);
        color: $bs-body-color;
        &:hover {
          background-color: color(light-gray, dark);
            color: $bs-body-bg;
        }
        &.active {
          background-color: color(light-gray, medium);
          color: $bs-body-bg;
        }
      }
    
      &.btn-tertiary {
        background-color: color(default-green, light);
        color: inherit;
        &:hover {
          background-color: color(default-green, dark);
            color: inherit;
        }
        &.active{
          background-color: color(default-green, medium);
            color: inherit;
        }
      }
    
    &.btn-update {
      background-color: color(default-green, base);
        color: white;
        &:hover {
          background-color: color(default-green, light);
        }
      }
    
      &.btn-delete {
        background-color: color(default-red , base);
        color: white;
        &:hover {
          background-color: color(default-red, light);
        }
      }
      &.btn-submit {
        display: inline-block;
        width: 100%;
        background-color: color(blue-primary, base);
        color: white;
        &:hover {
          background-color: color(blue-primary, dark)
        }
      }
      &.btn-modify{
        background-color: color(blue-primary, base);
        width: 100%;
        color: $bs-body-bg;
        &:hover {
          background-color: color(blue-primary, dark)
        }
      }
    

}