@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/colors' as *;

.card {
  // Variables internes Bootstrap-like
  --bs-card-title-color: hsl(214, 35%, 37%);
  --bs-card-subtitle-color: hsl(216, 14%, 44%);
  --bs-card-title-color-dark:hsl(214, 35%, 77%);
  --bs-card-subtitle-color: hsl(216, 14%, 67%);

  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: auto;
  word-wrap: break-word;

  color: $bs-body-color;
  background-color: $bs-body-bg;
  background-clip: border-box;
  border: $bs-border-width solid $bs-border-color-translucent;
  border-radius: $bs-border-radius;
  box-shadow: $default-card-shadow;

  @at-root html.dark-mode & {
    background-color: $dark-background-color-secondary;
    color: $dark-front-color;
  }

  .card-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    color: inherit;
    background-color: rgba($bs-body-color, 0.03);
    border-bottom: $bs-border-width solid $bs-border-color-translucent;
    
    @at-root html.dark-mode & {
      background-color: rgba($dark-background-color-secondary, 0.03);
      color: $dark-front-color;
    }
  
  }


  .card-body {
    flex: 1 1 auto;
    padding: 1rem;
    color: inherit;
    background-color: inherit;
  }

  .card-title {
    margin-bottom: 0.5rem;
    color: var(--bs-card-title-color);
     @at-root html.dark-mode & {
      color: var(--bs-card-title-color-dark);
     }
  }
  .card-subtitle{
    margin-bottom: 0.5rem;
     color: var(--bs-card-subtitle-color);
     @at-root html.dark-mode & {
      color: var(---bs-card-subtitle-color-dark);
     }
  }
}
