@use '../abstracts/variables' as *;

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.woff') format('woff');
}

.glyphicon {
  position: relative;
  top: 0px;
  display: inline-block;
  font-size: 1rem;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.glyphicon-left::before{
    content: "\e079"
  }

  &.glyphicon-right::before{
    content: "\e080"
  }

  &.glyphicon-refresh::before {
    content: "\e031";
  }

  &.glyphicon-remove::before {
    content: "\e014";
  }

  &.glyphicon-modify::before{
    content: "\e065";
  }

  &.glyphicon-modify-revert::before{
    content: "\e066";
  }

  &.glyphicon-modify-accept::before{
    content: "\e067";
  }

  &.gly-spin {
    animation: spin 2s infinite linear;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
