@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;

.custom-radio {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  user-select: none;
  font-size: 1rem;

  input[type="radio"] {
    display: none;
  }

  .radio-circle {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid color(neutral-gray, light);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    transition: all 0.2s ease;

    &::after {
      content: "";
      position: absolute;
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 50%;
      background-color: color(blue-primary, medium);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.2s ease;
    }
  }

  input[type="radio"]:checked + .radio-circle::after {
    opacity: 1;
  }

  &.disabled,
  .disabled {
    pointer-events: none;
    opacity: 0.25;
    user-select: none;
  }
}