@use '../abstracts/colors' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;

select{
    display: inline-block;
    background: inherit;
    border: 1px solid $bs-border-color;
    border-radius: $bs-border-radius;
    width: 100%;
    color: inherit;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: $font-default;
    margin:auto;
    cursor: pointer;
    &:hover{
        border-color: color(blue-primary, light);
        background: color(light-gray, light);
        color: color(blue-primary, dark);
    }
}