@use "../../../../abstracts/functions" as *;
@use "../../../../abstracts/colors" as *;
@use "../../../../abstracts/variables" as *;
@use "../../variables/styles" as *;


.mapping-preview-hidden-container-modif{
   
    .field-preview{
        display: none;
        border: color(light-gray, light) 1px solid;
        border-radius: $border-radius-preview;
        background-color: $bs-body-bg;
        padding: 0.5rem;
        box-shadow: $default-cell-shadow;
        flex-direction: column;

        @at-root html.dark-mode & {
                    background-color: $dark-background-color-secondary;
                    color: $dark-front-color;
                }
        
        .row{
            align-items: center;
        }

        .row.header{
            font-weight: 700;
            text-align: center;

        }
        .row.field{
            .actions{
                text-align: center;
            }

        }

        &.visible{
            display: flex;
            position: absolute;
        }
    }
}