@use "../../../../abstracts/functions" as *;
@use "../../../../abstracts/colors" as *;
@use "../../../../abstracts/variables" as *;
@use "../../variables/styles" as *;


.mapping-preview-hidden-container-modif{
    height: 0px;
    .field-preview{
        top: 0;
        display: flex;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        border: color(light-gray, light) 1px solid;
        border-radius: $border-radius-preview;
        background-color: $bs-body-bg;
        padding: 0.5rem;
        box-shadow: $default-cell-shadow;
        flex-direction: column;
        z-index: 1000;
        pointer-events: none;
        transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;

        @at-root html.dark-mode & {
                    background-color: $dark-background-color-secondary;
                    color: $dark-front-color;
                }
        
        .row{
            align-items: center;
        }

        .row.header{
            font-weight: 500;
            text-align: center;
            font-size: 1rem;

        }
        .row.field{
            font-size: 0.8rem;
            input, select {
                padding: 0.25rem;
                font-size: 0.8rem;
            }
            .actions{
                text-align: center;
            }
            div{
                select, input{
                    pointer-events: none;
                    border-color: transparent;
                }
            }

        }

        &.visible{
            opacity: 1;
            visibility: visible;
            pointer-events: auto; 
        }
        &.modify{
            opacity: 1;
            visibility: visible;
            pointer-events: auto; 
            .row.field{
                div{
                    select, input{
                        pointer-events: auto;
                        border-color: $bs-border-color;
                    }
                }
            }
        }
        &.blocked, &.visible.blocked{
            opacity: 0;
            visibility: hidden;
            pointer-events: none; 
        }
    }
}