@use '../../../../abstracts/colors' as *;
@use '../../../../abstracts/functions' as *;


.wrapper-fields{
    .row{
        div{
            text-align: center;
            align-items: center;
            .glyphicon-modify{
                opacity: 0.5;
                transition: 0.25s;
                font-size: 1.5rem;
                &:hover{
                    opacity: 1;
                    color: color(default-green, base);
                    transition: 0.25s;
                    cursor: pointer;
                }
            }
            
        }
    }
}