@use '../../../../abstracts/colors' as *;
@use '../../../../abstracts/functions' as *;


.wrapper-fields{
    .row{
        div{
            text-align: center;
            align-items: center;
        }
        &:hover{
            background-color:  color(blue-primary, light);
            color: white;
            cursor: auto;
        }
        .fieldhover{
            &:hover{
                cursor: zoom-in;
            }
        }
        .actions{
            &:hover{
                cursor: pointer;
            }
        }
    }
}