@use '../../../variables/styles' as *;
@use '../../../../../abstracts/variables' as *;
@use '../../../../../abstracts/colors' as *;

.card-header-option{
    display: none;
    position: fixed;
    top: 3.5rem;
    z-index: 20;
    border-radius: $border-radius-preview;
    &.visible{
        display: flex;
    }
    .card-header{
        padding: 1rem 0.25rem 1rem 0.25rem;
    }
    .card-title{
        font-size: 1.25rem;
        margin-bottom: 0;
    }
    .card-body{

        .card-subtitle{
            font-size: 1.1rem;
        }
        border-bottom-right-radius: $border-radius-preview;
        border-bottom-left-radius: $border-radius-preview;
        .toggle-button{
            position: static;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
        }
    }
    .card-footer{
        border-top: $bs-border-width solid $bs-border-color-translucent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        align-content: center;
        justify-content: space-evenly;
        button{
            width: auto;
        }
    }
}