@use '../../../variables/styles' as *;

.card-header-option{
    display: none;
    position: fixed;
    top: 3.5rem;
    z-index: 20;
    border-radius: $border-radius-preview;
    &.visible{
        display: flex;
    }
    .card-body{
        .card-title{
            font-size: 1.25rem;
        }
        .card-subtitle{
            font-size: 1.1rem;
        }
        border-bottom-right-radius: $border-radius-preview;
        border-bottom-left-radius: $border-radius-preview;
        .toggle-button{
            position: static;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
        }
    }
}