@use '../../../../../abstracts/colors' as *;
@use '../../../../../abstracts/variables' as *;
@use '../../../../../abstracts/functions' as *;
@use '../../../variables/styles' as *;

.csv-zone {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
    background: inherit;
    color: inherit;
    padding: 1rem 0 1rem 1rem; //necssaire pour la mise en forme equilibrée du layout
    min-height: 0; // ← important pour que le container puisse scroll

    .csv-container {
        position: relative;
        flex: 1;
        padding: 0.75rem 0 0 0.75rem; //necessaire pour faire apparaitre l'inset shadow
        overflow: hidden;
        box-shadow: $default-cell-shadow-inset;
        border-radius: $border-radius-preview;
        min-height: 0; // ← permet à .csv-table-wrapper d'avoir une hauteur limitée
        color: inherit;
        background-color: inherit;
      
        .csv-table-wrapper {
          overflow: auto;
          height: 100%;
          width: 100%;
          position: relative;
          scrollbar-color: #8b8b8b rgb(0 0 0 / 10%);
          
          @at-root html.dark-mode & {
            scrollbar-color: #f0f0f0 rgb(0 0 0 / 10%);
          }

          // Safari
          &::-webkit-scrollbar {
              width: 1rem;
              height: 1rem;
          }

          &::-webkit-scrollbar-track {
              background: rgba(0,0,0,0.1);

              @at-root html.dark-mode & {
                  background: $dark-background-color-tertiary;
              }
          }

          &::-webkit-scrollbar-thumb {
              background: color(neutral-gray,light);
              border-radius: 0.5rem;
          
              @at-root html.dark-mode & {
                  background: color(neutral-gray,light);
              }
          
              &:hover {
                background: color(blue-primary, base);
                cursor: pointer;
                @at-root html.dark-mode & {
                  background: color(blue-primary, base);
                }  
              }
          }

  
          .csv-table {
            border-top-left-radius: $border-radius-preview;
            border-top-right-radius: $border-radius-preview;
    
            thead {
              th{
                padding: 0;
                &:hover{
                  z-index: 10;
                  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.1);
                }
                .btn{
                  position: relative;
                  border: 2px solid transparent;
                  padding: 0.75rem 1rem;
                  width: 100%;
                  &:hover{
                    border: 2px solid color(light-gray,light);
                    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.1), -6px 6px 6px 0px rgba(0, 0, 0, 0.1);
                  }
                }
              }
              th:first-child { border-top-left-radius: $border-radius-preview; }
              th:last-child { border-top-right-radius: $border-radius-preview; }
            }

            tbody.blur{
              filter:blur(4px);
            }
          } 
        }
    }

    .pagination-bar{
        margin-top: 1rem;
    }
}
.chunk-loading-spinner-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 100;

  @at-root html.dark-mode & {
    background: rgba(125,125,125,0.5);
  }
}

.chunk-loading-spinner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 200;
}

.chunk-loading-spinner {
  width: 2.5rem;
  height: 2.5rem;
  border: 0.4rem solid #e0e0e0;
  border-top: 0.4rem solid #3498db;
  border-radius: 50%;
  animation: chunk-spin 1s linear infinite;
  margin-bottom: 1rem;
  z-index: 200;
}

@keyframes chunk-spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}

.chunk-loading-spinner-text {
  font-weight: bold;
  color: #333;
  font-size: 1.2rem;
  text-align: center;
  z-index: 200;

  @at-root html.dark-mode & {
    color: $dark-front-color;
  }
}

  