@use '../../../../../abstracts/colors' as *;
@use '../../../../../abstracts/variables' as *;
@use '../../../../../abstracts/functions' as *;
@use '../../../variables/styles' as *;

.csv-zone {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
    background: inherit;
    color: inherit;
    padding: 1rem 0 1rem 1rem; //necssaire pour la mise en forme equilibrée du layout
    min-height: 0; // ← important pour que le container puisse scroll

    .csv-container {
        position: relative;
        flex: 1;
        padding: 0.75rem 0 0 0.75rem; //necessaire pour faire apparaitre l'inset shadow
        overflow: hidden;
        box-shadow: $default-cell-shadow-inset;
        border-radius: $border-radius-preview;
        min-height: 0; // ← permet à .csv-table-wrapper d'avoir une hauteur limitée
        color: inherit;
        background-color: inherit;
      
      .csv-table-wrapper {
        overflow: auto;
        height: 100%;
        width: 100%;

         // Chrome, Edge, Safari
        &::-webkit-scrollbar {
            width: 0.5rem;
            height: 0.5rem;
            background: $bs-body-bg;
            body.dark-mode & {
                background: $dark-background-color-tertiary;
            }
        }

        &::-webkit-scrollbar-track {
            background: $bs-body-bg;

            body.dark-mode & {
            background: $dark-background-color-tertiary;
            }
        }

        &::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 0.25rem;
        
            body.dark-mode & {
              background: $dark-background-color-secondary;
            }
        
            &:hover {
              background: color(blue-primary, base);
              cursor: pointer;
              body.dark-mode & {
                background: color(blue-primary, base);
              }  
            }
          }

  
        .csv-table {
          border-top-left-radius: $border-radius-preview;
          border-top-right-radius: $border-radius-preview;
  
          thead {
            th:first-child { border-top-left-radius: $border-radius-preview; }
            th:last-child { border-top-right-radius: $border-radius-preview; }
          }
        }
      }
    }

    .pagination-bar{
        margin-top: 1rem;
    }
  }
  