@use '../../../../../abstracts/colors' as *;
@use '../../../variables/styles' as *;

.file-list {
    flex: 0 0 250px;
    background: $bs-body-bg;
    overflow-y: auto;
    background-color: inherit;
    color: inherit;
    padding-top: 1rem;
    display: flex;

    ul{
        flex: 1 0 auto;
        padding: 0.5rem;
        border-radius: $border-radius-preview;

        li{
            display: flex;
            flex-direction: row;

            a{
                display: flex;
                width: 80%;
            }
            button{
                width: 2rem;
                border-radius: 50%;
                box-shadow: inset 1px 1px 1px rgba(255,255,255,0.3), inset -1px -1px 1px rgba(0, 0, 0, 0.2);
            }
        }

    }
}