@use '../../../../../abstracts/colors' as *;
@use '../../../../../abstracts/variables' as *;
@use '../../../../../abstracts/functions' as *;
@use '../../../variables/styles' as *;

.file-list {
    flex: 0 0 250px;
    background: $bs-body-bg;
    overflow-y: auto;
    background-color: inherit;
    color: inherit;
    padding-top: 1rem;
    display: flex;

    ul{
        flex: 1 0 auto;
        padding: 0.75rem;
        border-radius: $border-radius-preview;
        box-shadow: $default-cell-shadow-inset;
        margin-bottom: 1rem;

        li{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0.5rem;
            margin-bottom: 0.5rem;
            border-bottom: $cell-border;
            transition: 0.25s;

            &:hover{
                background-color: color(blue-primary, base);
                color: $bs-body-bg;
                &:first-child{
                    border-top-left-radius: $border-radius-preview;
                    border-top-right-radius: $border-radius-preview;
                }
            }

            a{
                flex: 1 0 auto;
            }
            button{
                width: 1.2rem !important;
                height: 1.2rem !important;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                box-shadow: inset 1px 1px 1px rgba(255,255,255,0.3), inset -1px -1px 1px rgba(0, 0, 0, 0.2);
                span{
                    font-size: 0.8rem;
                    color: white;
                }
            }
        }

    }
}