@use '../../../../../abstracts/colors' as *;
@use '../../../../../abstracts/functions' as *;

.preview-json{
    padding: 1rem;
    .wrapper{
        box-shadow: inset 7px 7px 8px rgba(0, 0, 0, 0.25);
        padding: 0.5rem;
        border-radius: 0.5rem;

        .wrapper-headers{
            background-color: color(light-gray, light);
            .under-title{
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
                .label{
                    align-content: center;
                    p{
                        margin:auto;
                        text-align: right;
                    }
                }
                .related-to{
                    padding-left: 0;
                    padding-right: 0;
                }
            }
            .headers{
                background-color: $bs-body-bg;
                box-shadow: inset -1px -1px 3px rgba(0, 0, 0, 0.2), inset 1px 1px 3px rgba(255, 255, 255, 0.2), -2px 4px 4px rgba(0, 0, 0, 0.2);
                margin-bottom: 0.5rem;
            }
        }
        .wrapper-fields{
            overflow-y: scroll;
            height: calc(100vh - 360px);
            font-size: 0.8rem;
            
            .row{
                div{
                    align-content: center;
                    input, select{
                        font-size: inherit;
                    }
                }
            }

        }
    }
}