@use '../../../../../abstracts/colors' as *;
@use '../../../../../abstracts/functions' as *;
@use '../../../../../abstracts/variables' as *;
@use '../../../variables/styles' as *;

.preview-json{
    padding: 1rem;
    .wrapper{
        box-shadow: inset 7px 7px 8px rgba(0, 0, 0, 0.25);
        padding: 0.5rem;
        border-radius: 0.5rem;
        background-color: rgba(0, 0, 0, 0.2);

        .wrapper-headers{
            .under-title{
                margin-top: 0;
                margin-bottom: 0.5rem;
                div{
                    &:first-child{
                        border-top-left-radius: $border-radius-preview;

                    }
                    &:last-child{
                        border-top-right-radius: $border-radius-preview;
                        select{
                            border-top-right-radius: $border-radius-preview;
                            transition: 0.5s;
                            &:hover{
                                box-shadow: $default-cell-shadow-inset;
                                background-color: rgba(0,0,0,0.1);
                            }
                        }
                    }
                }
                .label{
                    align-content: center;
                    p{
                        margin:auto;
                        text-align: right;
                    }
                }
                .related-to{
                    padding-left: 0;
                    padding-right: 0;
                }
            }
            .headers{
                background-color: $bs-body-bg;
                box-shadow: inset -1px -1px 3px rgba(0, 0, 0, 0.2), inset 1px 1px 3px rgba(255, 255, 255, 0.2), -2px 4px 4px rgba(0, 0, 0, 0.2);
                margin-bottom: 0.5rem;
                text-align: center;
                align-items: center;
                p{
                    margin-bottom: 0;
                    padding:0.25rem;
                    font-size: 0.9rem;
                }
            }
        }
        .wrapper-fields{
            background-color: $bs-body-bg;
            overflow-y: scroll;
            height: calc(100vh - 360px);
            font-size: 0.8rem;
            
            .row{
                div{
                    align-content: center;
                    input, select{
                        font-size: inherit;
                    }
                }
            }

        }
    }
}