@use '../../../../../abstracts/variables' as *;
@use '../../../../../abstracts/colors' as *;

#content{
    margin-top: 3rem;
}

.page-title {
    margin: 1rem 0;
    text-align: center;

    @at-root body.dark-mode & {
        color: $dark-front-color;
      }
}
  
.page-layout {
    display: flex;
    height: calc(100vh - 148px); // prise en compte des titles et du top margin du content
    padding: 0 1rem;
    box-shadow: $default-card-shadow;
}

//par défaut, un div sans flex ne transmet pas les comportements de flex à ses enfants.
//Cela permet à #datas-zone de se comporter comme un conteneur flexible 
// et de transmettre correctement l’espace à .csv-zone.
#datas-zone {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: 100%; // ← essentiel pour transmettre la hauteur
}