@use '../../../../../abstracts/variables' as *;
@use '../../../../../abstracts/colors' as *;

.page-title {
    margin: 1rem 0;
    text-align: center;

    @at-root body.dark-mode & {
        color: $dark-front-color;
      }
}
  
.page-layout {
    display: flex;
    height: calc(100vh - 100px);
    padding: 0 1rem;
    box-shadow: $default-card-shadow;
}

#data-zone{
    display: flex;
}