@use '../../../abstracts/colors' as *;
@use '../../../abstracts/variables' as *;
@use '../../../abstracts/functions' as *;
@use '../variables/styles' as *;

.csv-content{
    padding: 0rem 0rem 2rem 0rem;
    background-color: $bs-body-bg;
    .row{
        margin: 0;
    }
    .csv-content-data{
        background: None;
        // box-shadow: $default-card-shadow;
        font-size: 0.9rem;
    }
    .csv-separator{
        padding: 0.5rem;
        margin: auto;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        font-size: 1.25rem;
        font-weight: 700;
    }
    .blurred-border {
        background: None;
        border-bottom: None;
    }
}

$alternate-color: color(blue-light, very-light);

.csv-col{
    flex: 0 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.5rem;
    background-color: $bs-body-bg;
    hr{
        margin: 10px 0px;
        border-color: color(blue-primary, base);
        border-style: dashed;
        border-width: 1px;
        padding:2px;
    }
    &.header{
        @include apply-style($header-preview-style);
        border-left: $cells-border;
        z-index: 100;
        &.center-col-before{
            box-shadow: $cells-shadow;
            border-right: $cells-border;
        }
        &.interm{
            background-color: transparent;
            border-bottom:None;
            text-align: center;
            align-items: center;
            box-shadow: none;
            color: color(light-gray, medium);
            width: 36px !important;
            border: none;
        }
        &.first{
            border-top-left-radius: $bs-border-radius;
        }
        &.last{
            border-top-right-radius: $bs-border-radius;
        }
        &.last-col{
            border-right: $cells-border;
            box-shadow: $cells-shadow;
        }
    }
    &.content{
        border-left: $cells-border;
        background-color: white;

        &.csv-index-col{
            font-weight: bold;
            text-align: center;
        }
        
        &.pair{
            background-color: $alternate-color;
        }
        &.interm{
            background-color: transparent;
            border: None;
            font-weight: 700;
            font-size: 1.25rem;
            color: color(blue-primary, base);
            text-align: center;
            width: 36px !important;
            box-shadow: none !important;
            border: none !important;
        }
        &.nocontent{
            background: None;
            background-color: transparent;
            font-weight: 700;
            font-size: 1.25rem;
            color: color(blue-primary, base);
            text-align: center;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            border-top: 1px dashed rgb(0 119 204 / 20%) !important;
            box-shadow: none !important;
            &.last-row, &.middle-row-before{
                border-bottom: 1px dashed rgb(0 119 204 / 20%) !important;
            }
        }
        &.middle-row-before {
            border-bottom: $cells-border;
            box-shadow: $cells-shadow;
            &.interm{
                border-bottom: none;
                box-shadow: none;
            }
        }
        &.last-row{
            border-bottom: $cells-border;
            box-shadow: $cells-shadow;
        }
        &.last-col{
            border-right: $cells-border;
            box-shadow: $cells-shadow;
        }
        &.center-col-before{
            border-right: $cells-border;
            box-shadow: $cells-shadow;
        }
        &.middle-row-after{
            border-top: $cells-border;
            &.interm{
                border-top: none;
            }
        }
        &.middle-row{
            box-shadow: none !important;
            border: none !important
        }
        &.blurred-border{
            &.last{
                background-color: transparent;
                background: linear-gradient(to bottom,$alternate-color, rgba(215, 229, 241, 0));
                &.interm{
                    background: None;
                    background-color: transparent;
                    font-weight: 700;
                    font-size: 1.25rem;
                    color: color(blue-primary, base);
                    text-align: center;
                    box-shadow: none;
                }
            }
            &.first{
                background-color: transparent;
                background: linear-gradient(to top, $alternate-color, rgba(215, 229, 241, 0));
                &.interm{
                    background: None;
                    background-color: transparent;
                    font-weight: 700;
                    font-size: 1.25rem;
                    color: color(blue-primary, base);
                    text-align: center;
                    box-shadow: none;
                }
            }
        }
    }
}