@use '../../../abstracts/colors' as *;
@use '../../../abstracts/variables' as *;
@use '../../../abstracts/functions' as *;

.card-header.dropper {
  background-color: color(coral-pink, medium);
  color: white;
  border-radius: $bs-border-radius $bs-border-radius 0 0;
  font-weight: bold;
  padding: 1rem;
  h1,h2,h3,h4,h5{
    margin: 0;
  }
}
.dropzone.dz-clickable{
    background: color(coral-pink, light);
    .dz-message{
        font-size: 1.2rem;
        font-weight: 700;
    }
}