@use '../../../abstracts/variables' as *;
@use '../../../abstracts/functions' as *;

.import-section {
  h2 {
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
  }

  .file-preview-container {
    padding: 1rem;
    background-color: color(light-gray, light);
    border-radius: $bs-border-radius;
    box-shadow: $default-card-shadow-inset;
    margin-top: 1.5rem;
  }
}
