@use '../../../abstracts/functions' as *;
@use '../../../abstracts/variables' as *;

.list-card {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  box-shadow: $default-card-shadow;

  .list-card-header {
    padding: 1rem;
    background-color: color(blue-primary, medium);
    color: white;
    border-radius: $bs-border-radius $bs-border-radius 0 0;
    font-weight: bold;
    h1,h2,h3,h4,h5{
      margin: 0;
      color: inherit;
    }
    h5, .h5{
      font-weight: 700;
    }
  }

  .list-card-body {
    padding: 1rem;
    background-color: $bs-body-bg;
    border: 1px solid $bs-border-color-translucent;
    border-top: none;
    border-radius: 0 0 $bs-border-radius $bs-border-radius;
  }
}

.list-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid $bs-border-color;
  background-color: $bs-body-bg;
  border-radius: $bs-border-radius;
  margin-bottom: 0.5rem;

  &.error {
    background-color: rgba(255, 0, 0, 0.05);
    font-style: italic;
  }

  &:hover {
    background-color: color(light-gray, light);
    cursor: se-resize; 
  }

  &.active {
    background-color: color(light-gray, light);

  }
  &.active, &:hover{
    input[type="text"]:hover {
      background-color: $bs-body-bg;
      color: color(blue-primary, base);
    }
  }

  .separator-input {
    text-align: center;
  }
}
