@use '../../../abstracts/functions' as *;
@use '../../../abstracts/variables' as *;

.preview-wrapper {
  background-color: color(light-gray, base);
  padding: 1rem;
  border-radius: calc($bs-border-radius * 2);
  box-shadow: $default-card-shadow-inset;
}
.preview-second-wrapper{
  background-color: $bs-body-bg;
  padding: 1rem;
  border-radius: calc($bs-border-radius * 2);
  box-shadow: $default-card-shadow;
  h2,.h2, h3,.h3, h4,.h4, h5,.h5{
    color: color(light-gray, medium);
    margin: 0;
    span.filename{
      font-weight: 700;
      color: color(blue-primary, base);
    }
  }
  .sub-sep{
    padding: 0.5rem;
    color: color(light-gray, medium);
    font-size: 1.25rem;
    span{
      font-weight: 700;
      color: color(blue-primary, base);
    }
  }
}

.preview-front {
  background-color: $bs-body-bg;
  border-radius: $bs-border-radius;
  box-shadow: $default-card-shadow;
  padding: 0;

  .preview-header {
    background-color: color(blue-primary, medium);
    padding: 1rem;
    border-radius: $bs-border-radius $bs-border-radius 0 0;
    box-shadow: $default-card-shadow;
    color: white;
    margin: 0;
  }
}

.preview-field-group {
  padding: 1rem 0;

  .preview-field {
    margin: 0;
    padding: 0.5rem 1rem;

    &.disabled {
      pointer-events: none;
      opacity: 0.25;
    }
  }
}

.preview-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  user-select: none;
  font-size: 1rem;
}

#hidden-info-filename {
  display: none;
}