// === Palette : Bleu Primaire ===
$blue-primary: (
  base: rgba(0, 119, 204, 1),
  light: rgb(82, 154, 204),
  medium: rgb(0, 102, 204),
  dark: rgb(2, 80, 135)
);

// === Palette : Bleu Clair ===
$blue-light: (
  base: rgb(0, 191, 179),
  light: rgb(102, 221, 213),
  medium: rgb(0, 153, 143),
  dark: rgb(0, 102, 95)
);

// === Palette : Jaune Orangé ===
$yellow-orange: (
  base: rgba(254, 197, 20, 1),
  light: rgba(254, 197, 20, 0.3),
  medium: rgba(254, 197, 20, 0.6),
  dark: rgba(254, 197, 20, 1)
);

// === Palette : Rose Corail ===
$coral-pink: (
  base: rgba(240, 78, 152, 1),
  light: rgba(240, 78, 152, 0.3),
  medium: rgba(240, 78, 152, 0.6),
  dark: rgba(240, 78, 152, 1)
);

// === Palette : Violet Doux ===
$soft-purple: (
  base: rgba(115, 92, 221, 1),
  light: rgba(115, 92, 221, 0.3),
  medium: rgba(115, 92, 221, 0.6),
  dark: rgba(115, 92, 221, 1)
);

// === Palette : Gris Neutre ===
$neutral-gray: (
  base: rgb(76, 80, 94),
  light: rgb(115, 122, 143),
  medium: rgb(69, 72, 85),
  dark: rgb(47, 49, 59)
);

// === Palette : Gris Clair ===
$light-gray: (
  base: rgba(211, 218, 230, 1),
  light: rgb(220, 226, 238),
  medium: rgb(134, 138, 145),
  medium-light: rgb(173, 179, 189),
  dark: rgb(86, 89, 94)
);

$default-red: (
  base: rgba(255, 0, 0, 1),
  light: rgb(255, 71, 71),
  medium: rgb(193, 2, 2),
  dark: rgb(127, 0, 0)
);

$default-green: (
  base: rgba(0, 255, 0, 1),
  light: rgb(125, 255, 125),
  medium: rgb(0, 180, 0),
  dark: rgb(0, 125, 0)
);
